body {
    padding-top: 56px;
}
a{
    color: #272c31;
}
a:hover{
    color: #7bbea6; 
    text-decoration: none;
}
.page-link{
    color: #272c31; 
}
.page-link:hover{
    color: #547ba2; 
}
.page-item.active .page-link{
    background: #547ba2;
    opacity: 0.8;
}
.list-group-item{    
    text-transform: uppercase;
}
.col-lg-9{
    margin: 24px 0;
}
.title{
    color: #272c31;
    opacity: 0.9;
    font-size: 2em;
}
h4 {
    color: rgb(107, 107, 107);
    opacity: 0.77;
    font-size: 1.5em;
}
.big{
    width: 100%;
	margin-top: 10px;
}
.price{
    color: #272c31;
    margin: 20px 0;
    padding: 11px;
    border: 1px solid rgb(190, 190, 190);
    background-color: rgba(255, 255, 255, 0.918);
    width: 194px;
    font-size: 1.6em;
    border-radius: 11px;
    opacity: 0.8;
}
.basket{
    margin: 0 0 40px;
    margin-left: 3px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 6px;
    padding: 6px;
}
.basket:hover {
    color: white;
}
.quantity{
    margin-bottom: 20px;
    margin-left: 13px;
}
.info-product{
    padding-bottom: 11px;
    background-color: white;
    border-radius: 11px;
    border: 1px solid rgb(190, 190, 190);
    opacity: 0.8;
}
.small{
    width: 26%;
    margin: 20px 10px;
}
.center{
    text-align: center;
}
.murakami{ 
    max-width: 100%;
    max-height: 53px;
    border: none;
    margin: 0;
    margin-left: 7px;
    vertical-align: -1px;
    transition: all ease-in-out 0.3s;
}